/* 
* @Author: Mark Bennett
* @Date:   2015-07-20 17:32:26
* @Last Modified by:   Mark Bennett
* @Last Modified time: 2015-07-21 14:17:27
*/

/*/////////////////////////////////////////////////////////////////////////////////////////////////////
///           
///    LET'S MAKE THIS THING PRETTY - SAY HELLO TO CSS!  
///           
/////////////////////////////////////////////////////////////////////////////////////////////////////*/

body {
  max-width: 800px;
  margin: 0 auto;
} 

.heading {
  text-align: center;
}

.job-title{
	position: relative;
	float: left;
}

.job-company{
	position: relative;
	float: left;
	margin-left: 30px;
}

.job-description{
	clear: left;
}